@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .bg-gradient {
    @apply bg-gradient-to-b from-blue-500 to-violet-500;
  }
  .bg-gradient-hover {
    @apply hover:from-blue-500/90 hover:to-violet-500/90
  }
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}
